processo_seletivo/schema/editais.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editais">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="edital">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="codigo"/>
              <xs:element type="xs:string" name="descricao"/>
              <xs:element type="xs:short" name="ano"/>
              <xs:element type="xs:string" name="remanescentes"/>
              <xs:element type="xs:byte" name="semestre"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>